#chat-ui {
  border: 1px solid #d1d1d1;
  position: fixed;
  bottom: 0;
  right: 20px;
  .chat-icon {
    height: 30px;
    width: 30px;
    border: 1px solid #d1d1d1;
    margin-right: 5px;
    border-radius: 50px;
  }
  .init-message {
    text-align: center;
    margin-top: 20%;
    font-weight: 200;
  }
  .chat-header {
    align-items: center;
  }
  .chat-body {
    padding: 15px;
    overflow: auto;
    max-height: 500px;
    background: #f1f1f1;
    min-height: 300px;
    position: relative;
  }
  .chat-models {
    .v-input__details {
      display: none;
    }
  }
  .chat-prompt-area {
    background: #fff;
    border-radius: 10px;
    padding: 10px 10px 30px;
    width: 100%;
    position: relative;
    .prompt-text {
      width: 100%;
      max-height: 200px;
      min-height: 50px;
      resize: none;
      height: auto;
      overflow: auto;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .prompt-btn {
      position: absolute;
      bottom: 5px;
      right: 10px;
    }
  }
}

// Conversation
.chat {
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 5px 5px #eaeaea;
  .chat-date {
    font-size: 10px;
    opacity: .7;
    margin-bottom: 5px
  }
  &.from-ai {
    background: #ffffff;
    width: fit-content;
    max-width: 300px;
  }
  &.from-human {
    background: #0067ff;
    width: fit-content;
    max-width: 300px;
    color: #ffffff;
    margin-left: auto;
  }
}

// If dark theme
#chat-ui.dark-theme {
  .chat-body {
    background: #212121;
  }
  .chat-prompt-area {
    background: #212121;
  }
  .chat {
    box-shadow: 0 5px 5px #1e1e1e;
    &.from-ai {
      background: #595959;
    }
  }
}